.tmp/
.tscache/
.idea/
atlassian-ide-plugin.xml
docs/
!dist/index.html
dist/
node_modules/
npm-debug.log
report/
vendor/
typings/
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map
!test/karma.conf.js
!test/protractor.conf.js
